# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Trainer
backend/backend_venv
backend_venv
test.ipynb

# Training Data
Data Explorer Report.csv
data_explorer_embeddings.jsonl
mistral_med_sft_surgery.jsonl

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

